/* Add your CSS style definitions to this file 
 Examine ch04-proj01.html in the browser. Do not make any changes to this file.
2. Edit the file styles.css by defining styles so that it looks similar to that shown in Figure 4.41. The steps below provide more details.
3. The <body> element has top margin of 0em, left and right margins of 4em, and a bottom margin of 0em.
4. The font for the <h1> and <blockquote> is Roboto Slab with a size of 2rem and 1.25rem. The font everywhere else is Open Sans with a size of 0.9rem, 1rem, or 1.25rem.
5. You will have to adjust margin, padding, and border properties for multiple elements.
6. The links have the same color for visited and not-visited. For the two external links, you will need to add borders with rounded corners. You will also need to define hover so that the background color is #a9a9ba, and the text color is #9f2042.
7. You will have to make use of text-transform, text-align, and text-decoration properties.
8. Set the width property of the image so it scales to its container’s size (use a % value).
Guidance and Testing
1. CSS can be overwhelming at times. The instructions above break the task down into smaller steps. Test each step along the way in a browser.
2. When completed, test at different browser sizes.
 
*/

body {
    margin: 0em 4em;
    background: #f9f9f9;
  }

article {
    background-color: white;
  } 
  
img{
    width: 100%;
    height: auto;
    padding-left: 0em;
    padding-right: 10em;
}

  h1, blockquote {
    font-family: 'Roboto Slab', serif;
  }


  h1 {
    font-size: 2rem;
    color: #9f2042;
    text-align: center;
    text-transform: uppercase;
    margin: 1px;
  }

  #details{
    color: #a9a9ba;
    text-align: center;
    font-size: 1.25rem;
  }

  *, p{
    font-family: 'Open Sans', sans-serif;
    font-size: 0.9rem;
    padding-left: 10px;
    padding-right:10px;
  }
  

  blockquote{
    font-size: 1.15rem;
    background-color:  #f9f9f9;
    padding: 1.25em;
    margin: 0.5em;
    margin-left: 1em;
    margin-left: 1em;
    border: 0.15em solid #ececec;
  }

 a{
    color: #ec8295;
    text-decoration: none;
  }
  
  #buttons a[href^="http"] {
    border: 1px solid #ececec;
    border-radius: 3px;
    padding: 0.5em;
  }
  
  #buttons a:hover{
    background-color: #a9a9ba;
    color: #9f2042;
  }
  
  footer {
    background-color: #29293a;
    color: #f7f7f7;
    bottom: 0;
    width: 100%;
    height: 100%;  
    font-size: 0.9rem;
    padding: 1em;
    margin-top: 2em;
  }